#Nav3_0 .home-page > .l1ni9gn53ju-editor_css {
    width: 60px;
    height: 60px;
}

#Banner0_0 .banner0-text-wrapper > .l1nj172mkrd-editor_css {
    bottom: 10px;
}

#Content0_0 .home-page > div > .l1njp91lhw7-editor_css {
    width: 100%;
}

#Banner0_0.l1nheinijtt-editor_css {
    display: flex;
    height: 120vh;
    background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fitem%2F202005%2F15%2F20200515012058_kytol.thumb.1000_0.jpeg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1651840815&t=e1ed6d90f1ff909a50f80a1e0b87ffdd');
}

#Nav3_0 .l1nk8fctvib-editor_css {
    background-clip: padding-box;
    background-color: #fafafa;
}

#Nav3_0 .ant-menu-submenu-title > .header3-item-block > .l1nil3j9ebr-editor_css {
    background-clip: padding-box;
    font-family: Comic Sans MS;
}

#Nav3_0 .ant-menu-item > .header3-item-block > .l1nkbvi2ogk-editor_css {
    font-family: 'Comic Sans MS';
    color: #c38ed8;
}

#Nav3_0 .ant-menu-item > .header3-item-block > .l1nketscoya-editor_css {
    font-family: Comic Sans MS;
    color: #5feea7;
}

#Nav3_0 .ant-menu-item > .header3-item-block > .l1nkeucr8hc-editor_css {
    font-family: Comic Sans MS;
    color: #e6345f;
}

#Content0_0 .ant-col > .content0-block-item > .l1nkvit9sz-editor_css {
    font-family: 'Lucida Console';
    color: #404040;
}

#Content0_0 .home-page > .title-wrapper > .l1njlmotml-editor_css {
    font-family: Verdana;
    color: #404040;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#Content0_0 .ant-col > .content0-block-item > .l1nkvfqzvhp-editor_css {
    left: 60px;
}

#Content0_0 div > .ant-row > .l1nj9zwv2ch-editor_css {
    width: 500px;
}

#Content0_0 .ant-col > .content0-block-item > .l1ogalscbro-editor_css {
    font-family: Lucida Console;
}

#Content0_0 div > .ant-row > .l1og986rgw-editor_css {
    width: 500px;
    height: 250px;
}

#Content0_0 .ant-col > .content0-block-item > .l1ogoth0ef8-editor_css {
    font-family: Lucida Console;
}

#Content0_0 .ant-col > .content0-block-item > .l1odfqq6f8c-editor_css {
    color: #f56a00;
    position: relative;
    top: 10px;
}

#Content0_0 .ant-col > .content0-block-item > .l1ogaqgw53j-editor_css {
    color: #f04134;
    padding: 10px 0px 0px;
}

#Content0_0 .ant-col > .content0-block-item > .l1ogpxb0myg-editor_css {
    color: #7265e6;
    padding: 10px 0 0;
}

#Content0_0 .ant-col > .content0-block-item > .l1oh1uacdn-editor_css {
    color: #108ee9;
    padding: 10px 0 0;
}

#Content0_0 .ant-col > .content0-block-item > .l1ogdgdobep-editor_css {
    overflow: hidden;
    width: 350px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#Content0_0 .ant-col > .content0-block-item > .l1ohkwtpp7s-editor_css {
    color: #ffbf00;
    padding: 10px 0px 0px;
}

#Content0_0 .ant-col > .content0-block-item > .l1oh1ofkrv-editor_css {
    font-family: Lucida Console;
}

#Content0_0 .ant-col > .content0-block-item > .l1ohfbm65g-editor_css {
    font-family: Lucida Console;
}

#Content0_0 .ant-col > .content0-block-item > .l1ohl0cdbxo-editor_css {
    font-family: Lucida Console;
}

#Content0_0 .ant-col > .content0-block-item > .l1odnzchaz7-editor_css {
    overflow: hidden;
    width: 350px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#Content0_0 .ant-col > .content0-block-item > .l1ohgi0i5qb-editor_css {
    color: #00a2ae;
    padding: 0 0;
}

#Content0_0 .l1nj5s0lfjq-editor_css {
    width: 100%;
    max-width: 1300px;
    height: 1300px;
    max-height: 1800px;
    background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimages.996pic.com%2F6d35e963db074ddc9b0946917b04293e.jpg&refer=http%3A%2F%2Fimages.996pic.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1651840592&t=7d1292b893724af8b96e17ad45f2926e');
    background-attachment: fixed;
    background-blend-mode: normal;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
}

#Content0_0 .ant-col > .content0-block-item > .l1nj5ygii1l-editor_css {
    overflow: hidden;
    width: 350px;
    height: 250px;
    left: -50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#Banner0_0 .banner0-text-wrapper > .l1oteoilmcb-editor_css {
    color: #fbfbfb;
}

#Content1_0 .l1ouulb8rjb-editor_css {
    background-clip: padding-box;
}

#Content3_0 .l1ov4yxqrg-editor_css {
    width: 100%;
    max-width: 1800px;
    background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg9.51tietu.net%2Fpic%2F2019-091211%2F4bzh3eghhka4bzh3eghhka.jpg&refer=http%3A%2F%2Fimg9.51tietu.net&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1651919684&t=319eb6e5a867ae587616475736926ab2');
    background-attachment: fixed;
    background-blend-mode: normal;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
}
