.layout{
    box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
    max-width: 100vw;
    height: 64px;
    top: 0px;
    position: sticky;
    z-index: 110;
    transition: top 0.5s ease 0s;
    background-color: rgb(255, 255, 255);
}

.ant-layout-header{
    background-color: rgb(255, 255, 255)
}


.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.logo {
    line-height: 0px;
    display: flex;
    float: left;
    width: 120px;
    height: 32px;
    margin: 16px 24px 16px 0;
    -moz-box-align: center;
    align-items: center;
}

.logo .brand {
    margin-left: 5px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
}

.logoImage {
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 32px;
}

.headPortrait {
    display: flex;
}

.ant-menu-title-content{
    font-weight: 600;
    font-size:16px;
}

.ant-menu-item{
    display: flex;
    align-items: center;
}
