html, body, iframe {
    line-height: 1.5;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background-color: #f0f2f5;
}

*, ::before, ::after {
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    font-size: 1rem;
}

input[type="color"]:hover {
    cursor: pointer;
}

#root {
    height: 100%;
    background: #f0f2f5;
}

#root .site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

#nft_name {
    color: #218bec;
    font-weight: bold;
}

/*页面主标题*/
.content-mainTitle {
    text-align: center;
    margin-bottom: 20px;
}

.content-mainTitle span {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}